.button {
    background: transparent;
    border: 1px solid #555555;
    color: #555555;
    cursor: pointer;
    font-weight: 600;
    line-height: 1;
    margin-left: 1.3rem;
    outline: none;
    padding: 1.3rem;
    transition: all .2s ease;

    &:hover {
        background: #e8e8e8;
    }

    &:active {
        background: #cccccc;
        transform: scale(1.1)
    }
}

.button--round {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
}

.button--position-1 {

    &:hover, &:active {
        background: $mainGreen-d
    }
}

.button--position-2 {

    &:hover, &:active {
        background: $mainBlue-d
    }
}


.button--position-3 {

    &:hover, &:active {
        background: $mainRed-d
    }
}

